<!-- app/views/admin/dashboard/show.html.erb -->
<section class="admin-dashboard">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Products</div>
          <div class="card-body">
            <h5 class="card-title"><%= @product_count %> Products</h5>
            <p class="card-text">Total number of products in the database.</p>
            <a href="<%= admin_products_path %>" class="btn btn-light">View Products</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <h5 class="card-title"><%= @category_count %> Categories</h5>
            <p class="card-text">Total number of categories in the database:</p>
            <ul class="list-group">
              <% @categories.each do |category| %>
                <li class="list-group-item"><%= category.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
